  <div class = "column">
    <h1>Dashboard</h1>
    {{> user-info}}
  </div>
<section class="row">
  <div class = "column">
    
    <p>Pets: {{#each pets}}
      <span>{{this.dog_name}} </span>
      {{/each}}
    </p>
    <h2>Add a New Pet</h2>

    <form class="new-post-form">
      <div>
        <label for="post-title">Dog Name</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-text">Gender</label>
        <textarea id="post-text" name="post-text"></textarea>
      </div>
      <div>
        <label for="bio-text">Bio</label>
        <textarea id="bio-text" name="bio-text" required /></textarea>
      </div>
      <button type="submit" class="btn">Add Pet</button>
    </form>
  </div>

  {{#if bookings}}
  <div class="column">
    <h1>Upcoming Bookings</h1>
    {{#each bookings}}
    <ol>
      <a href="/edit/{{this.dataValues.id}}" class="edit-link">Update {{this.dataValues.pet.dataValues.dog_name}}'s Booking</a>
    </ol>
    {{/each}}
  </div>
  {{/if}}

</section>

{{#if pets}}
<section class="column">
  <h2>Your Pets</h2>
  <ol>
    {{#each pets as |pet|}}
      <a href="/edit/pets/{{pet.id}}" class="edit-link">Update {{dog_name}}'s Information</a>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-pet.js"></script>


